openapi: 3.0.1
info:
  title: Reisinformatie API
  description: Deze API bevat alle reisinformatie bronnen voor de NS App
  contact:
    name: M-Lab
    email: mlab@ns.nl
  version: '1.0'
servers:
  - url: https://gateway.apiportal.ns.nl/reisinformatie-api
paths:
  /api/v2/departures:
    get:
      tags:
        - Departures
      summary: Departures
      description: List of departures for a specific station
      operationId: getDepartures
      parameters:
        - name: lang
          in: query
          description: 'Language to use for localizing the departures list. Only a small subset of text is translated, mainly notes. Defaults to Dutch'
          schema:
            type: string
        - name: station
          in: query
          description: NS Station code for the station to return departures for. Can be left empty if uicCode parameter is provided.
          schema:
            type: string
          example: ut
        - name: uicCode
          in: query
          description: UIC code for the station to return departures for. Can be left empty if station parameter is provided.
          schema:
            type: string
          example: 8400621
        - name: dateTime
          in: query
          description: Departure date to show departures from. Only supported for departures at foreign stations. Defaults to server time (Europe/Amsterdam)
          schema:
            type: string
            format: date-time
        - name: maxJourneys
          in: query
          description: Number of departures or departures to return. Defaults to 40
          schema:
            type: integer
      responses:
        '200':
          description: A list of departures
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RepresentationResponseDeparturesPayload'
              examples:
                default:
                  value: 
        '400':
          description: Bad request. One or more parameters are invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
              example:
                timestamp: string
                code: 0
                message: string
                path: string
                exception: string
                errors:
                  - message: string
                    arguments:
                      - { }
                    type: string
                    lang: string
                requestId: string
        '404':
          description: Station name or uiccode provided in the parameters could not be found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
              example:
                timestamp: string
                code: 0
                message: string
                path: string
                exception: string
                errors:
                  - message: string
                    arguments:
                      - { }
                    type: string
                    lang: string
                requestId: string
  /api/v2/arrivals:
    get:
      tags:
        - Arrivals
      summary: Arrivals
      description: List of arrivals for a specific station
      operationId: getArrivals
      parameters:
        - name: lang
          in: query
          description: 'Language to use for localizing the arrivals list. Only a small subset of text is translated, mainly notes. Defaults to Dutch'
          schema:
            type: string
        - name: station
          in: query
          description: NS Station code for the station to return arrivals for. Can be left empty if uicCode parameter is provided.
          schema:
            type: string
          example: ut
        - name: uicCode
          in: query
          description: UIC code for the station to return arrivals for. Can be left empty if station parameter is provided.
          schema:
            type: string
          example: 8400621
        - name: dateTime
          in: query
          description: Departure date to show arrivals from.  Only supported for arrivals at foreign stations. Defaults to server time (Europe/Amsterdam)
          schema:
            type: string
            format: date-time
        - name: maxJourneys
          in: query
          description: Number of departures or arrivals to return. Defaults to 40
          schema:
            type: integer
      responses:
        '200':
          description: A list of arrivals
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RepresentationResponseArrivalsPayload'
              examples:
                default:
                  value: 
        '400':
          description: Bad request. One or more parameters are invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
              example:
                timestamp: string
                code: 0
                message: string
                path: string
                exception: string
                errors:
                  - message: string
                    arguments:
                      - { }
                    type: string
                    lang: string
                requestId: string
        '404':
          description: Station name or uiccode provided in the parameters could not be found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
              example:
                timestamp: string
                code: 0
                message: string
                path: string
                exception: string
                errors:
                  - message: string
                    arguments:
                      - { }
                    type: string
                    lang: string
                requestId: string
  /api/v2/journey:
    get:
      tags:
        - Journey
      summary: Journey details
      description: Returns information about a specific journey
      operationId: getJourneyDetail
      parameters:
        - name: train
          in: query
          description: Train number to return details for. Either the train number or journey identifier must be given
          schema:
            type: integer
            format: int32
          example: 6952
        - name: id
          in: query
          description: Journey identifier. Can be found in as journeyDetailRef in the /api/v3/trips output. Either the train number of journey identifier must be given
          schema:
            type: string
          example: 1|231691|0|784|15122020
        - name: dateTime
          in: query
          description: Date for this journey. Defaults to server time (Europe/Amsterdam)
          schema:
            type: string
            format: date-time
        - name: departureUicCode
          in: query
          description: UIC code of the station that will be indicated as kind = DEPARTURE in the output.
          schema:
            type: string
          example: 8400335
        - name: transferUicCode
          in: query
          description: UIC code of the station that will be indicated as kind = TRANSFER in the output.
          schema:
            type: string
          example: 8400621
        - name: arrivalUicCode
          in: query
          description: UIC code of the station that will be indicated as kind = ARRIVAL in the output.
          schema:
            type: string
          example: 8400263
        - name: omitCrowdForecast
          in: query
          description: Omit crowd forecast data for stations in the journey
          schema:
            type: boolean
            default: false
          example: 'True'
      responses:
        '200':
          description: Information about the journey
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RepresentationResponseJourney'
              examples:
                default:
                  value: 
        '400':
          description: Bad request. One or more parameters are invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
              example:
                timestamp: string
                code: 0
                message: string
                path: string
                exception: string
                errors:
                  - message: string
                    arguments:
                      - { }
                    type: string
                    lang: string
                requestId: string
        '404':
          description: Information about this journey could  not be found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
              example:
                timestamp: string
                code: 0
                message: string
                path: string
                exception: string
                errors:
                  - message: string
                    arguments:
                      - { }
                    type: string
                    lang: string
                requestId: string
  /api/v3/trips/trip:
    get:
      tags:
        - Trips
      summary: Single trip
      description: 'Returns a single trip, based on the given parameters'
      operationId: getTrip
      parameters:
        - name: ctxRecon
          in: query
          description: Reconstruction context to use as basis for finding trip. Can be found in the /api/v3/trips output
          required: true
          schema:
            type: string
        - name: date
          in: query
          description: 'Datetime to use when reconstructing trip, may be a different date than the trip was originally planned.'
          schema:
            type: string
            format: date-time
        - name: travelRequestType
          in: query
          description: Specify directions or directionsOnly to include directions for walk/bike/car legs in the result.
          schema:
            enum:
              - DEFAULT
              - DIRECTIONS
              - DIRECTIONS_ONLY
            type: string
            default: DEFAULT
        - name: sourceCtxRecon
          in: query
          description: 'Give the original reconstruction which was provided by the source (only possible if HARP was used as source). Deprecated, use the sourceCtxRecon field in the Trip response instead.'
          schema:
            type: boolean
            default: false
        - name: nsr
          in: query
          description: 'NSR number for the customer making this request. Since the replacement of the NSRA backend in Reisinfo with PAS, we do not use the NSR number anymore'
          schema:
            type: integer
            format: int32
        - name: product
          in: query
          description: Name of the product that will be used in travel.
          schema:
            enum:
              - GEEN
              - OVCHIPKAART_ENKELE_REIS
              - OVCHIPKAART_RETOUR
              - DAL_VOORDEEL
              - ALTIJD_VOORDEEL
              - DAL_VRIJ
              - WEEKEND_VRIJ
              - ALTIJD_VRIJ
              - BUSINESSCARD
              - BUSINESSCARD_DAL
              - STUDENT_WEEK
              - STUDENT_WEEKEND
              - VDU
              - SAMENREISKORTING
              - TRAJECT_VRIJ
            type: string
        - name: discount
          in: query
          description: Discount of travel to use when calculating product prices
          schema:
            type: string
            default: NO_DISCOUNT
        - name: travelClass
          in: query
          description: Class of travel to use when calculating product prices
          schema:
            type: integer
            format: int32
            default: 2
        - name: Authorization
          in: header
          description: Account details to use when querying trip assistance options
          schema:
            type: string
        - name: lang
          in: header
          description: 'Language to use for localizing the travel advice. Only a small subset of text is translated, mainly notes. Defaults to Dutch'
          schema:
            type: string
      responses:
        '200':
          description: A trip that matches the given parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Trip'
              example:
                uid: string
                ctxRecon: string
                sourceCtxRecon: string
                plannedDurationInMinutes: 0
                actualDurationInMinutes: 0
                transfers: 0
                status: CANCELLED
                primaryMessage:
                  title: string
                  nesProperties:
                    color: string
                    type: string
                    icon: string
                    scope: LEG_LINE
                    styles:
                      type: string
                  message:
                    id: string
                    externalId: string
                    head: string
                    text: string
                    lead: string
                    routeIdxFrom: 0
                    routeIdxTo: 0
                    type: MAINTENANCE
                    nesProperties:
                      color: string
                      type: string
                      icon: string
                      scope: LEG_LINE
                      styles:
                        type: string
                    startDate: string
                    endDate: string
                    startTime: string
                    endTime: string
                    phase: PHASE_1A
                  type: TRIP_CANCELLED
                messages:
                  - id: string
                    externalId: string
                    head: string
                    text: string
                    lead: string
                    routeIdxFrom: 0
                    routeIdxTo: 0
                    type: MAINTENANCE
                    nesProperties:
                      color: string
                      type: string
                      icon: string
                      scope: LEG_LINE
                      styles:
                        type: string
                    startDate: string
                    endDate: string
                    startTime: string
                    endTime: string
                    phase: PHASE_1A
                legs:
                  - idx: string
                    name: string
                    travelType: PUBLIC_TRANSIT
                    direction: string
                    partCancelled: true
                    cancelled: true
                    isAfterCancelledLeg: true
                    isOnOrAfterCancelledLeg: true
                    changePossible: true
                    alternativeTransport: true
                    journeyDetailRef: string
                    origin:
                      name: string
                      lng: 0
                      lat: 0
                      city: string
                      countryCode: string
                      uicCode: string
                      uicCdCode: string
                      stationCode: string
                      type: STATION
                      prognosisType: string
                      plannedTimeZoneOffset: 0
                      plannedDateTime: string
                      actualTimeZoneOffset: 0
                      actualDateTime: string
                      plannedTrack: string
                      actualTrack: string
                      exitSide: LEFT
                      checkinStatus: CHECKIN
                      travelAssistanceBookingInfo:
                        name: string
                        tripLegIndex: string
                        stationUic: string
                        serviceTypeIds:
                          - string
                        defaultAssistanceValue: true
                        canChangeAssistance: true
                        message: string
                      travelAssistanceMeetingPoints:
                        - string
                      travelAssistanceMeetingPointDetails:
                        - name: string
                          minutesBefore: 0
                      notes:
                        - value: string
                          shortValue: string
                          accessibilityValue: string
                          key: string
                          noteType: UNKNOWN
                          priority: 0
                          routeIdxFrom: 0
                          routeIdxTo: 0
                          link:
                            uri: string
                          isPresentationRequired: true
                          category: PLATFORM_INFORMATION
                          nesProperties:
                            color: string
                            type: string
                            icon: string
                            scope: LEG_LINE
                            styles:
                              type: string
                      quayCode: string
                    destination:
                      name: string
                      lng: 0
                      lat: 0
                      city: string
                      countryCode: string
                      uicCode: string
                      uicCdCode: string
                      stationCode: string
                      type: STATION
                      prognosisType: string
                      plannedTimeZoneOffset: 0
                      plannedDateTime: string
                      actualTimeZoneOffset: 0
                      actualDateTime: string
                      plannedTrack: string
                      actualTrack: string
                      exitSide: LEFT
                      checkinStatus: CHECKIN
                      travelAssistanceBookingInfo:
                        name: string
                        tripLegIndex: string
                        stationUic: string
                        serviceTypeIds:
                          - string
                        defaultAssistanceValue: true
                        canChangeAssistance: true
                        message: string
                      travelAssistanceMeetingPoints:
                        - string
                      travelAssistanceMeetingPointDetails:
                        - name: string
                          minutesBefore: 0
                      notes:
                        - value: string
                          shortValue: string
                          accessibilityValue: string
                          key: string
                          noteType: UNKNOWN
                          priority: 0
                          routeIdxFrom: 0
                          routeIdxTo: 0
                          link:
                            uri: string
                          isPresentationRequired: true
                          category: PLATFORM_INFORMATION
                          nesProperties:
                            color: string
                            type: string
                            icon: string
                            scope: LEG_LINE
                            styles:
                              type: string
                      quayCode: string
                    product:
                      type: TRAIN
                      number: string
                      displayName: string
                      operatorAdministrativeCode: 0
                      operatorCode: string
                      notes:
                        - 
                          - value: string
                            shortValue: string
                            accessibilityValue: string
                            key: string
                            noteType: UNKNOWN
                            priority: 0
                            routeIdxFrom: 0
                            routeIdxTo: 0
                            link:
                              uri: string
                            isPresentationRequired: true
                            category: PLATFORM_INFORMATION
                            nesProperties:
                              color: string
                              type: string
                              icon: string
                              scope: LEG_LINE
                              styles:
                                type: string
                      operatorName: string
                      nameNesProperties:
                        color: string
                        type: string
                        icon: string
                        scope: LEG_LINE
                        styles:
                          type: string
                      iconNesProperties:
                        color: string
                        type: string
                        icon: string
                        scope: LEG_LINE
                        styles:
                          type: string
                      shortCategoryName: string
                      categoryCode: string
                      longCategoryName: string
                      productType: string
                    sharedModality:
                      provider: string
                      name: string
                      availability: true
                      nearByMeMapping: OV_FIETS
                      planIcon: string
                    notes:
                      - value: string
                        shortValue: string
                        accessibilityValue: string
                        key: string
                        noteType: UNKNOWN
                        priority: 0
                        routeIdxFrom: 0
                        routeIdxTo: 0
                        link:
                          uri: string
                        isPresentationRequired: true
                        category: PLATFORM_INFORMATION
                        nesProperties:
                          color: string
                          type: string
                          icon: string
                          scope: LEG_LINE
                          styles:
                            type: string
                    messages:
                      - id: string
                        externalId: string
                        head: string
                        text: string
                        lead: string
                        routeIdxFrom: 0
                        routeIdxTo: 0
                        type: MAINTENANCE
                        nesProperties:
                          color: string
                          type: string
                          icon: string
                          scope: LEG_LINE
                          styles:
                            type: string
                        startDate: string
                        endDate: string
                        startTime: string
                        endTime: string
                        phase: PHASE_1A
                    transferMessages:
                      - message: string
                        accessibilityMessage: string
                        type: IMPOSSIBLE_TRANSFER
                        messageNesProperties:
                          color: string
                          type: string
                          icon: string
                          scope: LEG_LINE
                          styles:
                            type: string
                        iconNesProperties:
                          color: string
                          type: string
                          icon: string
                          scope: LEG_LINE
                          styles:
                            type: string
                    stops:
                      - uicCode: string
                        uicCdCode: string
                        name: string
                        lat: 0
                        lng: 0
                        countryCode: string
                        notes:
                          - value: string
                            key: string
                            type: U
                            priority: 0
                        routeIdx: 0
                        departurePrognosisType: string
                        plannedDepartureDateTime: string
                        plannedDepartureTimeZoneOffset: 0
                        actualDepartureDateTime: string
                        actualDepartureTimeZoneOffset: 0
                        plannedArrivalDateTime: string
                        plannedArrivalTimeZoneOffset: 0
                        actualArrivalDateTime: string
                        actualArrivalTimeZoneOffset: 0
                        plannedPassingDateTime: string
                        actualPassingDateTime: string
                        arrivalPrognosisType: string
                        actualDepartureTrack: string
                        plannedDepartureTrack: string
                        plannedArrivalTrack: string
                        actualArrivalTrack: string
                        departureDelayInSeconds: 0
                        arrivalDelayInSeconds: 0
                        cancelled: true
                        borderStop: true
                        passing: true
                        quayCode: string
                    steps:
                      - text:
                          color: string
                          text: string
                          accessibilityText: string
                          backgroundColor: string
                          styles:
                            strikethrough: true
                            bold: true
                        duration:
                          color: string
                          text: string
                          accessibilityText: string
                          backgroundColor: string
                          styles:
                            strikethrough: true
                            bold: true
                        icon:
                          color: string
                          icon: string
                          backgroundColor: string
                        line:
                          color: string
                          styles:
                            dashed: true
                    coordinates:
                      - 
                        - 0
                    crowdForecast: UNKNOWN
                    bicycleSpotCount: 0
                    punctuality: 0
                    crossPlatformTransfer: true
                    shorterStock: true
                    changeCouldBePossible: true
                    shorterStockWarning: string
                    shorterStockClassification: BUSY
                    journeyDetail:
                      - type: BTM
                        link:
                          uri: string
                    reachable: true
                    plannedDurationInMinutes: 0
                    actualDurationInMinutes: 0
                    travelAssistanceDeparture:
                      name: string
                      tripLegIndex: string
                      stationUic: string
                      serviceTypeIds:
                        - string
                      defaultAssistanceValue: true
                      canChangeAssistance: true
                      message: string
                    travelAssistanceArrival:
                      name: string
                      tripLegIndex: string
                      stationUic: string
                      serviceTypeIds:
                        - string
                      defaultAssistanceValue: true
                      canChangeAssistance: true
                      message: string
                    overviewPolyLine:
                      - lat: 0
                        lng: 0
                    nesProperties:
                      color: string
                      type: string
                      icon: string
                      scope: LEG_LINE
                      styles:
                        type: string
                    duration:
                      value: string
                      accessibilityValue: string
                      nesProperties:
                        color: string
                        type: string
                        icon: string
                        scope: LEG_LINE
                        styles:
                          type: string
                    preSteps:
                      - text:
                          color: string
                          text: string
                          accessibilityText: string
                          backgroundColor: string
                          styles:
                            strikethrough: true
                            bold: true
                        duration:
                          color: string
                          text: string
                          accessibilityText: string
                          backgroundColor: string
                          styles:
                            strikethrough: true
                            bold: true
                        icon:
                          color: string
                          icon: string
                          backgroundColor: string
                        line:
                          color: string
                          styles:
                            dashed: true
                    postSteps:
                      - text:
                          color: string
                          text: string
                          accessibilityText: string
                          backgroundColor: string
                          styles:
                            strikethrough: true
                            bold: true
                        duration:
                          color: string
                          text: string
                          accessibilityText: string
                          backgroundColor: string
                          styles:
                            strikethrough: true
                            bold: true
                        icon:
                          color: string
                          icon: string
                          backgroundColor: string
                        line:
                          color: string
                          styles:
                            dashed: true
                    transferTimeToNextLeg: 0
                    checkinStep:
                      duration: 0
                      type: string
                    recognizableDestination: string
                    distanceInMeters: 0
                    ticketActions:
                      - type: RESERVATION
                        fromUicCode: string
                        toUicCode: string
                    minimallyAddedChangeTime: 0
                overviewPolyLine:
                  - lat: 0
                    lng: 0
                crowdForecast: UNKNOWN
                punctuality: 0
                optimal: true
                fareRoute:
                  routeId: string
                  origin:
                    varCode: 0
                    name: string
                  destination:
                    varCode: 0
                    name: string
                fares:
                  - priceInCents: 0
                    product: OVCHIPKAART_ENKELE_REIS
                    travelClass: FIRST_CLASS
                    priceInCentsExcludingSupplement: 0
                    discountType: NO_DISCOUNT
                    supplementInCents: 0
                    link: string
                fareLegs:
                  - origin:
                      name: string
                      lng: 0
                      lat: 0
                      city: string
                      countryCode: string
                      uicCode: string
                      uicCdCode: string
                      stationCode: string
                      type: STATION
                      prognosisType: string
                      plannedTimeZoneOffset: 0
                      plannedDateTime: string
                      actualTimeZoneOffset: 0
                      actualDateTime: string
                      plannedTrack: string
                      actualTrack: string
                      exitSide: LEFT
                      checkinStatus: CHECKIN
                      travelAssistanceBookingInfo:
                        name: string
                        tripLegIndex: string
                        stationUic: string
                        serviceTypeIds:
                          - string
                        defaultAssistanceValue: true
                        canChangeAssistance: true
                        message: string
                      travelAssistanceMeetingPoints:
                        - string
                      travelAssistanceMeetingPointDetails:
                        - name: string
                          minutesBefore: 0
                      notes:
                        - value: string
                          shortValue: string
                          accessibilityValue: string
                          key: string
                          noteType: UNKNOWN
                          priority: 0
                          routeIdxFrom: 0
                          routeIdxTo: 0
                          link:
                            uri: string
                          isPresentationRequired: true
                          category: PLATFORM_INFORMATION
                          nesProperties:
                            color: string
                            type: string
                            icon: string
                            scope: LEG_LINE
                            styles:
                              type: string
                      quayCode: string
                    destination:
                      name: string
                      lng: 0
                      lat: 0
                      city: string
                      countryCode: string
                      uicCode: string
                      uicCdCode: string
                      stationCode: string
                      type: STATION
                      prognosisType: string
                      plannedTimeZoneOffset: 0
                      plannedDateTime: string
                      actualTimeZoneOffset: 0
                      actualDateTime: string
                      plannedTrack: string
                      actualTrack: string
                      exitSide: LEFT
                      checkinStatus: CHECKIN
                      travelAssistanceBookingInfo:
                        name: string
                        tripLegIndex: string
                        stationUic: string
                        serviceTypeIds:
                          - string
                        defaultAssistanceValue: true
                        canChangeAssistance: true
                        message: string
                      travelAssistanceMeetingPoints:
                        - string
                      travelAssistanceMeetingPointDetails:
                        - name: string
                          minutesBefore: 0
                      notes:
                        - value: string
                          shortValue: string
                          accessibilityValue: string
                          key: string
                          noteType: UNKNOWN
                          priority: 0
                          routeIdxFrom: 0
                          routeIdxTo: 0
                          link:
                            uri: string
                          isPresentationRequired: true
                          category: PLATFORM_INFORMATION
                          nesProperties:
                            color: string
                            type: string
                            icon: string
                            scope: LEG_LINE
                            styles:
                              type: string
                      quayCode: string
                    operator: string
                    productTypes:
                      - TRAIN
                    fares:
                      - priceInCents: 0
                        priceInCentsExcludingSupplement: 0
                        supplementInCents: 0
                        buyableTicketPriceInCents: 0
                        buyableTicketPriceInCentsExcludingSupplement: 0
                        buyableTicketSupplementPriceInCents: 0
                        product: GEEN
                        travelClass: FIRST_CLASS
                        discountType: NO_DISCOUNT
                        link: string
                    travelDate: string
                productFare:
                  priceInCents: 0
                  priceInCentsExcludingSupplement: 0
                  supplementInCents: 0
                  buyableTicketPriceInCents: 0
                  buyableTicketPriceInCentsExcludingSupplement: 0
                  buyableTicketSupplementPriceInCents: 0
                  product: GEEN
                  travelClass: FIRST_CLASS
                  discountType: NO_DISCOUNT
                  link: string
                fareOptions:
                  isInternationalBookable: true
                  isInternational: true
                  isEticketBuyable: true
                  isPossibleWithOvChipkaart: true
                  isTotalPriceUnknown: true
                  supplementsBasedOnSelectedFare:
                    - supplementPriceInCents: 0
                      fromUICCode: string
                      toUICCode: string
                      link:
                        uri: string
                      supplementType: ICD
                  reasonEticketNotBuyable:
                    reason: UNKNOWN_PRICE
                    description: string
                  salesOptions:
                    - type: NS_DEAL_DISCOUNT
                      permilleFullTariff: 0
                      priceInCents: 0
                      originalPrice: 0
                      betterOption: true
                      recommendationText: string
                      labelText: string
                bookingUrl:
                  uri: string
                nsiLink:
                  url: string
                  showInternationalBanner: true
                type: NS
                shareUrl:
                  uri: string
                realtime: true
                travelAssistanceInfo:
                  termsAndConditionsLink: string
                  tripRequestId: 0
                  isAssistanceRequired: true
                routeId: string
                registerJourney:
                  url: string
                  searchUrl: string
                  status: REGISTRATION_POSSIBLE
                  bicycleReservationRequired: true
                  availability:
                    seats: true
                    numberOfSeats: 0
                    bicycle: true
                    numberOfBicyclePlaces: 0
                eco:
                  co2kg: 0
                modalityListItems:
                  - name: string
                    nameNesProperties:
                      color: string
                      type: string
                      icon: string
                      scope: LEG_LINE
                      styles:
                        type: string
                    iconNesProperties:
                      color: string
                      type: string
                      icon: string
                      scope: LEG_LINE
                      styles:
                        type: string
                    actualTrack: string
                    accessibilityName: string
                labelListItems:
                  - label: string
                    stickerType: string
                    salesOptionType: NS_DEAL_DISCOUNT
        '400':
          description: Bad request. One or more parameters are invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
              example:
                timestamp: string
                code: 0
                message: string
                path: string
                exception: string
                errors:
                  - message: string
                    arguments:
                      - { }
                    type: string
                    lang: string
                requestId: string
        '419':
          description: Backend system failed in an unrecoverable way.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
              example:
                timestamp: string
                code: 0
                message: string
                path: string
                exception: string
                errors:
                  - message: string
                    arguments:
                      - { }
                    type: string
                    lang: string
                requestId: string
  /api/v1/calamities:
    get:
      tags:
        - Disruptions
      summary: Calamities
      description: List of calamities. This operation is deprecated. Use /api/v3/disruptions instead
      operationId: getCalamities
      parameters:
        - name: lang
          in: query
          description: Language to use for localizing the calamities
          schema:
            type: string
      responses:
        '200':
          description: A list of calamities
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CalamitiesResponse'
              examples:
                default:
                  value: 
  /api/v3/price:
    get:
      tags:
        - Prices
      summary: Domestic prices
      description: Returns price information for domestic trips
      operationId: getPrices
      parameters:
        - name: fromStation
          in: query
          description: UicCode of the origin station (but station code is also still supported)
          schema:
            type: string
          example: ut
        - name: toStation
          in: query
          description: UicCode of the destination station (but station code is also still supported)
          schema:
            type: string
          example: gn
        - name: travelClass
          in: query
          description: Travel class to return the price for
          schema:
            enum:
              - FIRST_CLASS
              - SECOND_CLASS
            type: string
        - name: travelType
          in: query
          description: Return the price for a single or return trip. Defaults to single
          schema:
            enum:
              - single
              - return
            type: string
        - name: isJointJourney
          in: query
          description: Set to true to return the price including joint journey discount
          schema:
            type: boolean
            default: false
        - name: adults
          in: query
          description: Number of adults to return the price for. Defaults to 1
          schema:
            type: integer
            format: int32
            default: 1
        - name: children
          in: query
          description: Number of children to return the price for. Defaults to 0
          schema:
            type: integer
            format: int32
            default: 0
        - name: routeId
          in: query
          description: Specific identifier for the route to take between the two stations. This routeId is returned in the /api/v3/trips call.
          schema:
            type: string
        - name: plannedDepartureTime
          in: query
          description: 'Planned departure time of the trip. Is used to find the correct route, if multiple routes are possible between the origin and destination station.'
          schema:
            type: string
            format: date-time
        - name: plannedArrivalTime
          in: query
          description: 'Planned arrival time of the trip. Is used to find the correct route, if multiple routes are possible between the origin and destination station.'
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Information about the price to pay given the input parameters
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RepresentationResponsePricesResponseV3'
              examples:
                default:
                  value: 
        '400':
          description: Bad request. One or more parameters are invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
              example:
                timestamp: string
                code: 0
                message: string
                path: string
                exception: string
                errors:
                  - message: string
                    arguments:
                      - { }
                    type: string
                    lang: string
                requestId: string
        '404':
          description: Stationcode provided in the parameters could not be found or the price is unknown
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
              example:
                timestamp: string
                code: 0
                message: string
                path: string
                exception: string
                errors:
                  - message: string
                    arguments:
                      - { }
                    type: string
                    lang: string
                requestId: string
  /api/v2/stations:
    get:
      tags:
        - Stations
      summary: Stations
      description: List of stations. This operation is deprecated. Use https://gateway.apiportal.ns.nl/nsapp-stations/v2 or v3 instead
      operationId: getStations
      parameters:
        - name: q
          in: query
          description: q
          schema:
            maxLength: 2147483647
            minLength: 2
            type: string
        - name: countryCodes
          in: query
          description: countryCodes
          schema:
            type: array
            items:
              type: string
          example: 'nl,d,b'
        - name: limit
          in: query
          description: 'The limit is only applied when call is performed with q parameter. If invoked by countrycodes only, no limit is applied'
          schema:
            type: integer
            format: int64
            default: 10
        - name: x-caller-id
          in: header
          schema:
            type: string
      responses:
        '200':
          description: A list of stations that can be used to plan trips
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/StationResponse'
              examples:
                default:
                  value: 
  /api/v3/trips:
    get:
      tags:
        - Trips
      summary: Trips
      description: Returns a travel advice for the given parameters
      operationId: getTravelAdvice
      parameters:
        - name: lang
          in: query
          description: 'Language to use for localizing the travel advice. Only a small subset of text is translated, mainly notes. Defaults to Dutch'
          schema:
            type: string
        - name: fromStation
          in: query
          description: NS station code of the origin station
          schema:
            type: string
        - name: originUicCode
          in: query
          description: UIC code of the origin station
          schema:
            type: string
        - name: originLat
          in: query
          description: 'Latitude of the origin location. Should be used together with originLng. If the origin is a station, just provide the uicCode instead of the lat/lng'
          schema:
            type: number
        - name: originLng
          in: query
          description: 'Longitude of the origin location. Should be used together with originLat. If the origin is a station, just provide the uicCode instead of the lat/lng'
          schema:
            type: number
        - name: originName
          in: query
          description: Name of the origin location. Will be returned in the response
          schema:
            type: string
        - name: toStation
          in: query
          description: NS station code of the destination station
          schema:
            type: string
        - name: destinationUicCode
          in: query
          description: UIC code of the destination station
          schema:
            type: string
        - name: destinationLat
          in: query
          description: 'Latitude of the destination location. Should be used together with destinationLng. If the destination is a station, just provide the uicCode instead of the lat/lng'
          schema:
            type: number
        - name: destinationLng
          in: query
          description: 'Longitude of the destination location. Should be used together with destinationLat. If the destination is a station, just provide the uicCode instead of the lat/lng'
          schema:
            type: number
        - name: destinationName
          in: query
          description: Name of the destination location. Will be returned in the response
          schema:
            type: string
        - name: viaStation
          in: query
          description: NS station code of the via station
          schema:
            type: string
        - name: viaUicCode
          in: query
          description: UIC code of the via station
          schema:
            type: string
        - name: viaLat
          in: query
          description: 'Latitude of the via location. Should be used together with viaLng. Will only be used for door-to-door trips. If the via location is a station, just provide the uicCode instead of the lat/lng.'
          schema:
            type: number
        - name: viaLng
          in: query
          description: 'Longitude of the via location. Should be used together with viaLat. Will only be used for door-to-door trips. If the via location is a station, just provide the uicCode instead of the lat/lng.'
          schema:
            type: number
        - name: originWalk
          in: query
          description: Return trip advices with walking options to start travel from origin to a train station (first mile)
          schema:
            type: boolean
            default: false
        - name: originBike
          in: query
          description: Return trip advices with biking options to start travel from origin to a train station (first mile)
          schema:
            type: boolean
            default: false
        - name: originCar
          in: query
          description: Return trip advices with car options to start travel from origin to a train station (first mile)
          schema:
            type: boolean
            default: false
        - name: destinationWalk
          in: query
          description: Return trip advices with walking options to finish travel to the destination (last mile)
          schema:
            type: boolean
            default: false
        - name: destinationBike
          in: query
          description: Return trip advices with biking options to finish travel to the destination (last mile)
          schema:
            type: boolean
            default: false
        - name: destinationCar
          in: query
          description: Return trip advices with car options to finish travel to the destination (last mile)
          schema:
            type: boolean
            default: false
        - name: dateTime
          in: query
          description: Datetime that the user want to depart from his origin or or arrive at his destination
          schema:
            type: string
            format: date-time
        - name: searchForArrival
          in: query
          description: 'If set, the date and time parameters specify the arrival time for the trip search instead of the departure time'
          schema:
            type: boolean
        - name: departure
          in: query
          description: Use searchForArrival parameter instead
          schema:
            type: boolean
        - name: context
          in: query
          description: Parameter specifying that the user wants a next or previous page of the results
          schema:
            type: string
        - name: shorterChange
          in: query
          description: 'Changes the CHANGE_NOT_POSSIBLE status to CHANGE_COULD_BE_POSSIBLE if the traveler can walk twice as fast. Deprecated: the functionality is removed because we do not want to suggest travelers to run.'
          schema:
            type: boolean
            default: false
        - name: addChangeTime
          in: query
          description: Extra time in minutes required at all transfers to change trains.
          schema:
            type: integer
            format: int32
        - name: minimalChangeTime
          in: query
          description: Use addChangeTime instead
          schema:
            type: integer
            format: int32
        - name: viaWaitTime
          in: query
          description: 'Waiting time in minutes at the via location, exclusive of transfer time'
          schema:
            type: integer
            format: int32
        - name: originAccessible
          in: query
          description: Use travelAssistance parameter instead
          schema:
            type: boolean
        - name: travelAssistance
          in: query
          description: Return trip advices from the trip assistance booking engine PAS
          schema:
            type: boolean
            default: false
        - name: nsr
          in: query
          description: 'NSR number for the customer making this request. Since the replacement of the NSRA backend in Reisinfo with PAS, we do not use the NSR number anymore'
          schema:
            type: integer
            format: int32
        - name: travelAssistanceTransferTime
          in: query
          description: Use addChangeTime parameter instead
          schema:
            type: integer
            format: int32
        - name: accessibilityEquipment1
          in: query
          description: Accessibility equipment to use when searching for trip assistance options (AVG/PAS)
          schema:
            type: string
        - name: accessibilityEquipment2
          in: query
          description: Accessibility equipment to use when searching for trip assistance options (AVG/PAS)
          schema:
            type: string
        - name: searchForAccessibleTrip
          in: query
          description: Return trip advices that are accessible. (might be bookable too)
          schema:
            type: boolean
            default: false
        - name: filterTransportMode
          in: query
          description: Could be used to filter for REGIONAL_TRAINS. This parameter is replaced by the localTrainsOnly parameter
          schema:
            type: string
        - name: localTrainsOnly
          in: query
          description: 'Search only for local train options, i.e. sprinter/sneltrein/stoptrein'
          schema:
            type: boolean
            default: false
        - name: excludeHighSpeedTrains
          in: query
          description: Exclude high speed trains from results (including those with a required reservation)
          schema:
            type: boolean
            default: false
        - name: excludeTrainsWithReservationRequired
          in: query
          description: Exclude trains for domestic trips that require a reservation (e.g. Eurostar)
          schema:
            type: boolean
            default: false
        - name: product
          in: query
          description: Name of the product that will be used in travel
          schema:
            enum:
              - GEEN
              - OVCHIPKAART_ENKELE_REIS
              - OVCHIPKAART_RETOUR
              - DAL_VOORDEEL
              - ALTIJD_VOORDEEL
              - DAL_VRIJ
              - WEEKEND_VRIJ
              - ALTIJD_VRIJ
              - BUSINESSCARD
              - BUSINESSCARD_DAL
              - STUDENT_WEEK
              - STUDENT_WEEKEND
              - VDU
              - SAMENREISKORTING
              - TRAJECT_VRIJ
            type: string
        - name: discount
          in: query
          description: Discount of travel to use when calculating product prices
          schema:
            type: string
            default: NO_DISCOUNT
        - name: travelClass
          in: query
          description: Class of travel to use when calculating product prices
          schema:
            type: integer
            format: int32
            default: 2
        - name: passing
          in: query
          description: Show intermediate stops that the journey passes but doesn't stop at (only works for source:HARP not multi-modal trips from negentwee)
          schema:
            type: boolean
            default: false
        - name: travelRequestType
          in: query
          description: directionsOnly only plans a google directions (walk/bike/car) advice
          schema:
            enum:
              - DEFAULT
              - DIRECTIONS
              - DIRECTIONS_ONLY
            type: string
            default: DEFAULT
        - name: disabledTransportModalities
          in: query
          description: exclude modalities from trip search
          schema:
            type: array
            items:
              type: string
        - name: firstMileModality
          in: query
          description: Shared modality origin filter to use when querying trips
          schema:
            type: string
        - name: lastMileModality
          in: query
          description: Shared modality destination filter to use when querying trips
          schema:
            type: string
        - name: entireTripModality
          in: query
          description: Shared modality total trip filter to use when querying trips
          schema:
            type: string
        - name: Authorization
          in: header
          description: Account details to use when querying trip assistance options
          schema:
            type: string
      responses:
        '200':
          description: A traveladvice with zero or more trips
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TravelAdvice'
              example:
                - source: HARP
                  trips:
                    - uid: string
                      ctxRecon: string
                      sourceCtxRecon: string
                      plannedDurationInMinutes: 0
                      actualDurationInMinutes: 0
                      transfers: 0
                      status: CANCELLED
                      primaryMessage:
                        title: string
                        nesProperties:
                          color: string
                          type: string
                          icon: string
                          scope: LEG_LINE
                          styles:
                            type: string
                        message:
                          id: string
                          externalId: string
                          head: string
                          text: string
                          lead: string
                          routeIdxFrom: 0
                          routeIdxTo: 0
                          type: MAINTENANCE
                          nesProperties:
                            color: string
                            type: string
                            icon: string
                            scope: LEG_LINE
                            styles:
                              type: string
                          startDate: string
                          endDate: string
                          startTime: string
                          endTime: string
                          phase: PHASE_1A
                        type: TRIP_CANCELLED
                      messages:
                        - id: string
                          externalId: string
                          head: string
                          text: string
                          lead: string
                          routeIdxFrom: 0
                          routeIdxTo: 0
                          type: MAINTENANCE
                          nesProperties:
                            color: string
                            type: string
                            icon: string
                            scope: LEG_LINE
                            styles:
                              type: string
                          startDate: string
                          endDate: string
                          startTime: string
                          endTime: string
                          phase: PHASE_1A
                      legs:
                        - idx: string
                          name: string
                          travelType: PUBLIC_TRANSIT
                          direction: string
                          partCancelled: true
                          cancelled: true
                          isAfterCancelledLeg: true
                          isOnOrAfterCancelledLeg: true
                          changePossible: true
                          alternativeTransport: true
                          journeyDetailRef: string
                          origin:
                            name: string
                            lng: 0
                            lat: 0
                            city: string
                            countryCode: string
                            uicCode: string
                            uicCdCode: string
                            stationCode: string
                            type: STATION
                            prognosisType: string
                            plannedTimeZoneOffset: 0
                            plannedDateTime: string
                            actualTimeZoneOffset: 0
                            actualDateTime: string
                            plannedTrack: string
                            actualTrack: string
                            exitSide: LEFT
                            checkinStatus: CHECKIN
                            travelAssistanceBookingInfo:
                              name: string
                              tripLegIndex: string
                              stationUic: string
                              serviceTypeIds:
                                - string
                              defaultAssistanceValue: true
                              canChangeAssistance: true
                              message: string
                            travelAssistanceMeetingPoints:
                              - string
                            travelAssistanceMeetingPointDetails:
                              - name: string
                                minutesBefore: 0
                            notes:
                              - value: string
                                shortValue: string
                                accessibilityValue: string
                                key: string
                                noteType: UNKNOWN
                                priority: 0
                                routeIdxFrom: 0
                                routeIdxTo: 0
                                link:
                                  uri: string
                                isPresentationRequired: true
                                category: PLATFORM_INFORMATION
                                nesProperties:
                                  color: string
                                  type: string
                                  icon: string
                                  scope: LEG_LINE
                                  styles:
                                    type: string
                            quayCode: string
                          destination:
                            name: string
                            lng: 0
                            lat: 0
                            city: string
                            countryCode: string
                            uicCode: string
                            uicCdCode: string
                            stationCode: string
                            type: STATION
                            prognosisType: string
                            plannedTimeZoneOffset: 0
                            plannedDateTime: string
                            actualTimeZoneOffset: 0
                            actualDateTime: string
                            plannedTrack: string
                            actualTrack: string
                            exitSide: LEFT
                            checkinStatus: CHECKIN
                            travelAssistanceBookingInfo:
                              name: string
                              tripLegIndex: string
                              stationUic: string
                              serviceTypeIds:
                                - string
                              defaultAssistanceValue: true
                              canChangeAssistance: true
                              message: string
                            travelAssistanceMeetingPoints:
                              - string
                            travelAssistanceMeetingPointDetails:
                              - name: string
                                minutesBefore: 0
                            notes:
                              - value: string
                                shortValue: string
                                accessibilityValue: string
                                key: string
                                noteType: UNKNOWN
                                priority: 0
                                routeIdxFrom: 0
                                routeIdxTo: 0
                                link:
                                  uri: string
                                isPresentationRequired: true
                                category: PLATFORM_INFORMATION
                                nesProperties:
                                  color: string
                                  type: string
                                  icon: string
                                  scope: LEG_LINE
                                  styles:
                                    type: string
                            quayCode: string
                          product:
                            type: TRAIN
                            number: string
                            displayName: string
                            operatorAdministrativeCode: 0
                            operatorCode: string
                            notes:
                              - 
                                - value: string
                                  shortValue: string
                                  accessibilityValue: string
                                  key: string
                                  noteType: UNKNOWN
                                  priority: 0
                                  routeIdxFrom: 0
                                  routeIdxTo: 0
                                  link:
                                    uri: string
                                  isPresentationRequired: true
                                  category: PLATFORM_INFORMATION
                                  nesProperties:
                                    color: string
                                    type: string
                                    icon: string
                                    scope: LEG_LINE
                                    styles:
                                      type: string
                            operatorName: string
                            nameNesProperties:
                              color: string
                              type: string
                              icon: string
                              scope: LEG_LINE
                              styles:
                                type: string
                            iconNesProperties:
                              color: string
                              type: string
                              icon: string
                              scope: LEG_LINE
                              styles:
                                type: string
                            shortCategoryName: string
                            categoryCode: string
                            longCategoryName: string
                            productType: string
                          sharedModality:
                            provider: string
                            name: string
                            availability: true
                            nearByMeMapping: OV_FIETS
                            planIcon: string
                          notes:
                            - value: string
                              shortValue: string
                              accessibilityValue: string
                              key: string
                              noteType: UNKNOWN
                              priority: 0
                              routeIdxFrom: 0
                              routeIdxTo: 0
                              link:
                                uri: string
                              isPresentationRequired: true
                              category: PLATFORM_INFORMATION
                              nesProperties:
                                color: string
                                type: string
                                icon: string
                                scope: LEG_LINE
                                styles:
                                  type: string
                          messages:
                            - id: string
                              externalId: string
                              head: string
                              text: string
                              lead: string
                              routeIdxFrom: 0
                              routeIdxTo: 0
                              type: MAINTENANCE
                              nesProperties:
                                color: string
                                type: string
                                icon: string
                                scope: LEG_LINE
                                styles:
                                  type: string
                              startDate: string
                              endDate: string
                              startTime: string
                              endTime: string
                              phase: PHASE_1A
                          transferMessages:
                            - message: string
                              accessibilityMessage: string
                              type: IMPOSSIBLE_TRANSFER
                              messageNesProperties:
                                color: string
                                type: string
                                icon: string
                                scope: LEG_LINE
                                styles:
                                  type: string
                              iconNesProperties:
                                color: string
                                type: string
                                icon: string
                                scope: LEG_LINE
                                styles:
                                  type: string
                          stops:
                            - uicCode: string
                              uicCdCode: string
                              name: string
                              lat: 0
                              lng: 0
                              countryCode: string
                              notes:
                                - value: string
                                  key: string
                                  type: U
                                  priority: 0
                              routeIdx: 0
                              departurePrognosisType: string
                              plannedDepartureDateTime: string
                              plannedDepartureTimeZoneOffset: 0
                              actualDepartureDateTime: string
                              actualDepartureTimeZoneOffset: 0
                              plannedArrivalDateTime: string
                              plannedArrivalTimeZoneOffset: 0
                              actualArrivalDateTime: string
                              actualArrivalTimeZoneOffset: 0
                              plannedPassingDateTime: string
                              actualPassingDateTime: string
                              arrivalPrognosisType: string
                              actualDepartureTrack: string
                              plannedDepartureTrack: string
                              plannedArrivalTrack: string
                              actualArrivalTrack: string
                              departureDelayInSeconds: 0
                              arrivalDelayInSeconds: 0
                              cancelled: true
                              borderStop: true
                              passing: true
                              quayCode: string
                          steps:
                            - text:
                                color: string
                                text: string
                                accessibilityText: string
                                backgroundColor: string
                                styles:
                                  strikethrough: true
                                  bold: true
                              duration:
                                color: string
                                text: string
                                accessibilityText: string
                                backgroundColor: string
                                styles:
                                  strikethrough: true
                                  bold: true
                              icon:
                                color: string
                                icon: string
                                backgroundColor: string
                              line:
                                color: string
                                styles:
                                  dashed: true
                          coordinates:
                            - 
                              - 0
                          crowdForecast: UNKNOWN
                          bicycleSpotCount: 0
                          punctuality: 0
                          crossPlatformTransfer: true
                          shorterStock: true
                          changeCouldBePossible: true
                          shorterStockWarning: string
                          shorterStockClassification: BUSY
                          journeyDetail:
                            - type: BTM
                              link:
                                uri: string
                          reachable: true
                          plannedDurationInMinutes: 0
                          actualDurationInMinutes: 0
                          travelAssistanceDeparture:
                            name: string
                            tripLegIndex: string
                            stationUic: string
                            serviceTypeIds:
                              - string
                            defaultAssistanceValue: true
                            canChangeAssistance: true
                            message: string
                          travelAssistanceArrival:
                            name: string
                            tripLegIndex: string
                            stationUic: string
                            serviceTypeIds:
                              - string
                            defaultAssistanceValue: true
                            canChangeAssistance: true
                            message: string
                          overviewPolyLine:
                            - lat: 0
                              lng: 0
                          nesProperties:
                            color: string
                            type: string
                            icon: string
                            scope: LEG_LINE
                            styles:
                              type: string
                          duration:
                            value: string
                            accessibilityValue: string
                            nesProperties:
                              color: string
                              type: string
                              icon: string
                              scope: LEG_LINE
                              styles:
                                type: string
                          preSteps:
                            - text:
                                color: string
                                text: string
                                accessibilityText: string
                                backgroundColor: string
                                styles:
                                  strikethrough: true
                                  bold: true
                              duration:
                                color: string
                                text: string
                                accessibilityText: string
                                backgroundColor: string
                                styles:
                                  strikethrough: true
                                  bold: true
                              icon:
                                color: string
                                icon: string
                                backgroundColor: string
                              line:
                                color: string
                                styles:
                                  dashed: true
                          postSteps:
                            - text:
                                color: string
                                text: string
                                accessibilityText: string
                                backgroundColor: string
                                styles:
                                  strikethrough: true
                                  bold: true
                              duration:
                                color: string
                                text: string
                                accessibilityText: string
                                backgroundColor: string
                                styles:
                                  strikethrough: true
                                  bold: true
                              icon:
                                color: string
                                icon: string
                                backgroundColor: string
                              line:
                                color: string
                                styles:
                                  dashed: true
                          transferTimeToNextLeg: 0
                          checkinStep:
                            duration: 0
                            type: string
                          recognizableDestination: string
                          distanceInMeters: 0
                          ticketActions:
                            - type: RESERVATION
                              fromUicCode: string
                              toUicCode: string
                          minimallyAddedChangeTime: 0
                      overviewPolyLine:
                        - lat: 0
                          lng: 0
                      crowdForecast: UNKNOWN
                      punctuality: 0
                      optimal: true
                      fareRoute:
                        routeId: string
                        origin:
                          varCode: 0
                          name: string
                        destination:
                          varCode: 0
                          name: string
                      fares:
                        - priceInCents: 0
                          product: OVCHIPKAART_ENKELE_REIS
                          travelClass: FIRST_CLASS
                          priceInCentsExcludingSupplement: 0
                          discountType: NO_DISCOUNT
                          supplementInCents: 0
                          link: string
                      fareLegs:
                        - origin:
                            name: string
                            lng: 0
                            lat: 0
                            city: string
                            countryCode: string
                            uicCode: string
                            uicCdCode: string
                            stationCode: string
                            type: STATION
                            prognosisType: string
                            plannedTimeZoneOffset: 0
                            plannedDateTime: string
                            actualTimeZoneOffset: 0
                            actualDateTime: string
                            plannedTrack: string
                            actualTrack: string
                            exitSide: LEFT
                            checkinStatus: CHECKIN
                            travelAssistanceBookingInfo:
                              name: string
                              tripLegIndex: string
                              stationUic: string
                              serviceTypeIds:
                                - string
                              defaultAssistanceValue: true
                              canChangeAssistance: true
                              message: string
                            travelAssistanceMeetingPoints:
                              - string
                            travelAssistanceMeetingPointDetails:
                              - name: string
                                minutesBefore: 0
                            notes:
                              - value: string
                                shortValue: string
                                accessibilityValue: string
                                key: string
                                noteType: UNKNOWN
                                priority: 0
                                routeIdxFrom: 0
                                routeIdxTo: 0
                                link:
                                  uri: string
                                isPresentationRequired: true
                                category: PLATFORM_INFORMATION
                                nesProperties:
                                  color: string
                                  type: string
                                  icon: string
                                  scope: LEG_LINE
                                  styles:
                                    type: string
                            quayCode: string
                          destination:
                            name: string
                            lng: 0
                            lat: 0
                            city: string
                            countryCode: string
                            uicCode: string
                            uicCdCode: string
                            stationCode: string
                            type: STATION
                            prognosisType: string
                            plannedTimeZoneOffset: 0
                            plannedDateTime: string
                            actualTimeZoneOffset: 0
                            actualDateTime: string
                            plannedTrack: string
                            actualTrack: string
                            exitSide: LEFT
                            checkinStatus: CHECKIN
                            travelAssistanceBookingInfo:
                              name: string
                              tripLegIndex: string
                              stationUic: string
                              serviceTypeIds:
                                - string
                              defaultAssistanceValue: true
                              canChangeAssistance: true
                              message: string
                            travelAssistanceMeetingPoints:
                              - string
                            travelAssistanceMeetingPointDetails:
                              - name: string
                                minutesBefore: 0
                            notes:
                              - value: string
                                shortValue: string
                                accessibilityValue: string
                                key: string
                                noteType: UNKNOWN
                                priority: 0
                                routeIdxFrom: 0
                                routeIdxTo: 0
                                link:
                                  uri: string
                                isPresentationRequired: true
                                category: PLATFORM_INFORMATION
                                nesProperties:
                                  color: string
                                  type: string
                                  icon: string
                                  scope: LEG_LINE
                                  styles:
                                    type: string
                            quayCode: string
                          operator: string
                          productTypes:
                            - TRAIN
                          fares:
                            - priceInCents: 0
                              priceInCentsExcludingSupplement: 0
                              supplementInCents: 0
                              buyableTicketPriceInCents: 0
                              buyableTicketPriceInCentsExcludingSupplement: 0
                              buyableTicketSupplementPriceInCents: 0
                              product: GEEN
                              travelClass: FIRST_CLASS
                              discountType: NO_DISCOUNT
                              link: string
                          travelDate: string
                      productFare:
                        priceInCents: 0
                        priceInCentsExcludingSupplement: 0
                        supplementInCents: 0
                        buyableTicketPriceInCents: 0
                        buyableTicketPriceInCentsExcludingSupplement: 0
                        buyableTicketSupplementPriceInCents: 0
                        product: GEEN
                        travelClass: FIRST_CLASS
                        discountType: NO_DISCOUNT
                        link: string
                      fareOptions:
                        isInternationalBookable: true
                        isInternational: true
                        isEticketBuyable: true
                        isPossibleWithOvChipkaart: true
                        isTotalPriceUnknown: true
                        supplementsBasedOnSelectedFare:
                          - supplementPriceInCents: 0
                            fromUICCode: string
                            toUICCode: string
                            link:
                              uri: string
                            supplementType: ICD
                        reasonEticketNotBuyable:
                          reason: UNKNOWN_PRICE
                          description: string
                        salesOptions:
                          - type: NS_DEAL_DISCOUNT
                            permilleFullTariff: 0
                            priceInCents: 0
                            originalPrice: 0
                            betterOption: true
                            recommendationText: string
                            labelText: string
                      bookingUrl:
                        uri: string
                      nsiLink:
                        url: string
                        showInternationalBanner: true
                      type: NS
                      shareUrl:
                        uri: string
                      realtime: true
                      travelAssistanceInfo:
                        termsAndConditionsLink: string
                        tripRequestId: 0
                        isAssistanceRequired: true
                      routeId: string
                      registerJourney:
                        url: string
                        searchUrl: string
                        status: REGISTRATION_POSSIBLE
                        bicycleReservationRequired: true
                        availability:
                          seats: true
                          numberOfSeats: 0
                          bicycle: true
                          numberOfBicyclePlaces: 0
                      eco:
                        co2kg: 0
                      modalityListItems:
                        - name: string
                          nameNesProperties:
                            color: string
                            type: string
                            icon: string
                            scope: LEG_LINE
                            styles:
                              type: string
                          iconNesProperties:
                            color: string
                            type: string
                            icon: string
                            scope: LEG_LINE
                            styles:
                              type: string
                          actualTrack: string
                          accessibilityName: string
                      labelListItems:
                        - label: string
                          stickerType: string
                          salesOptionType: NS_DEAL_DISCOUNT
                  travelAdviceMessage:
                    title: string
                    nesProperties:
                      color: string
                      type: string
                      icon: string
                      scope: LEG_LINE
                      styles:
                        type: string
                    disruptionIds:
                      - string
                  scrollRequestBackwardContext: string
                  scrollRequestForwardContext: string
                  message: string
        '400':
          description: Bad request. One or more parameters are invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
              example:
                timestamp: string
                code: 0
                message: string
                path: string
                exception: string
                errors:
                  - message: string
                    arguments:
                      - { }
                    type: string
                    lang: string
                requestId: string
        '419':
          description: Backend system failed in an unrecoverable way.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
              example:
                timestamp: string
                code: 0
                message: string
                path: string
                exception: string
                errors:
                  - message: string
                    arguments:
                      - { }
                    type: string
                    lang: string
                requestId: string
  '/api/v3/disruptions/station/{stationCode}':
    get:
      tags:
        - Disruptions
      summary: Station disruptions
      description: 'List of disruptions relevant for the current station. This operation is deprecated. Use https://gateway.apiportal.ns.nl/disruptions/v3/station/{stationCode} instead'
      operationId: getStationDisruptions_v3
      parameters:
        - name: stationCode
          in: path
          required: true
          schema:
            type: string
      responses:
        '400':
          description: Bad request. One or more parameters are invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
              example:
                timestamp: string
                code: 0
                message: string
                path: string
                exception: string
                errors:
                  - message: string
                    arguments:
                      - { }
                    type: string
                    lang: string
                requestId: string
        '404':
          description: Station not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
              example:
                timestamp: string
                code: 0
                message: string
                path: string
                exception: string
                errors:
                  - message: string
                    arguments:
                      - { }
                    type: string
                    lang: string
                requestId: string
        '200':
          description: A list of disruptions relevant for the given station
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BaseDisruption'
              example:
                - id: string
                  type: CALAMITY
                  isActive: true
                  title: string
                  topic: string
        '500':
          description: A list of disruptions relevant for the given station
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BaseDisruption'
              example:
                - id: string
                  type: CALAMITY
                  isActive: true
                  title: string
                  topic: string
  '/api/v3/disruptions/{type}/{id}':
    get:
      tags:
        - Disruptions
      summary: Single disruption
      description: 'Returns information on a single disruption/maintenance/calamity. This operation is deprecated. Use https://gateway.apiportal.ns.nl/disruptions/v3/{type}/{id} instead'
      operationId: getDisruption_v3
      parameters:
        - name: type
          in: path
          description: Disruption type for the disruption to return.
          required: true
          schema:
            enum:
              - CALAMITY
              - DISRUPTION
              - MAINTENANCE
            type: string
          example: disruption
        - name: id
          in: path
          description: Unique identifier of the disruption to return. Can be found using the /api/v3/disruptions call
          required: true
          schema:
            type: string
          example: 6004123
      responses:
        '400':
          description: Bad request. One or more parameters are invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
              example:
                timestamp: string
                code: 0
                message: string
                path: string
                exception: string
                errors:
                  - message: string
                    arguments:
                      - { }
                    type: string
                    lang: string
                requestId: string
        '404':
          description: Disruption not found or wrong type given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
              example:
                timestamp: string
                code: 0
                message: string
                path: string
                exception: string
                errors:
                  - message: string
                    arguments:
                      - { }
                    type: string
                    lang: string
                requestId: string
        '200':
          description: The requested disruption
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseDisruption'
              example:
                id: string
                type: CALAMITY
                isActive: true
                title: string
                topic: string
        '500':
          description: The requested disruption
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseDisruption'
              example:
                id: string
                type: CALAMITY
                isActive: true
                title: string
                topic: string
  /api/v3/disruptions:
    get:
      tags:
        - Disruptions
      summary: Disruptions
      description: List of calamities/disruptions/maintenance. This operation is deprecated. Use https://gateway.apiportal.ns.nl/disruptions/v3 instead
      operationId: getDisruptions_v3
      parameters:
        - name: type
          in: query
          description: Type of the disruptions to be returned. If not present all types will be returned.
          schema:
            type: array
            items:
              enum:
                - CALAMITY
                - DISRUPTION
                - MAINTENANCE
              type: string
        - name: isActive
          in: query
          description: 'Flag to filter maintenance to only return active items, i.e. maintenance that is happening right now'
[...]
